#cimaum {
    background-color: #117a8b;
    height: 147px;    
    margin-bottom: 0px;
}
#cimadois {
    background-color: #4e6d84;
    height: 147px;
    padding: 5px;
    padding-left: 10px;
}
#meio {
    background-color: #5196a5;
    height: 460px;    
}
#corpoform {
    background-color: #5196a5;
    min-height: 460px;    
}
#baixoum {
    background-color: #4e6d84;
    height: 148px;
}
#baixodois {
    background-color: #117a8b;
    height: 148px;
}
#cabec {
    background-color: #117a8b;
    height: 90px;    
    margin-bottom: 0px;
}
#subc {
    padding-top: 10px;
    background-color: #4e6d84;
    height: 90px;    
}
#subc2 {
    padding-top: 10px;
    background-color: #4e6d84;
    height: 148px;    
}

h4{
    margin: 10px;
    margin-top: 30px;
    text-align: center;
}
.linke{
    color: darkgrey;
}
.esquerda{
    display: block;
    margin-top: auto;
    margin-left: 30px;
    margin-right: auto;
    width: 660px;
    height: 480px;
    float: left;
}
.direita{
    display: block;
    margin-top: auto;
    margin-right: 30px;
    margin-left: auto;
    width: 660px;
    height: 480px;
    float: right;
}
@media screen and (max-width: 425px){
    #cimaum{
        min-height: 80px;
    }
    #cimadois{
        min-height: 240px;
    }
    #meio{
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 10px;
        min-height: 500px;
    }
    #baixodois{
        min-height: 70px;
    }
    #baixoum, #subc, #subc2{
        height: 30px;
    }
    #video{
        width: 200%;
        height: 300px;
    }
    .esquerda{
        margin: 0px;
        width: 100%;
        height: 250px;
        float: both;
    }
    .direita{
        margin: 0px;
        width: 100%;
        height: 250px;
        float: both;
    }
}